.logo {
    width: 300px;
 }
 
 
 .container {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;              
    padding: 20px;
 }
 
 .is-first {
     color: rgb(72, 25, 25);               
     font-weight: bold;        
     border: 4px solid red;    
     padding: 10px;
     border-radius: 8px;       
     background-color: #ffe6e6; 
 }
 
 
 .neparen {
     color: rgb(88, 88, 88);       
     background-color: #f0f0f0;    
     padding: 10px;
     border-radius: 8px;
     border: 1px solid #ccc;      
 }